{% extends 'base.html.twig' %}

{% block title %}My wishes{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/wish.css') }}">
{% endblock %}
{% block body %}
    <div class="content">
        <div class="title">
        <h2 class="subtitle">My Wish List</h2>
        </div>
        <div class="list">
            <ul>
                {% for j, wishes in my_list %}
                    <h2>{{ j }}</h2>
                    {% for index, wish in wishes %}
                        <div class="wish-item">
                            {{ index + 1 }} : <a class="wish-link" href="{{ path('detail_wish_list', {'id': wish.id}) }}">{{ wish.title }}</a>
                            <form action="{{  path('wishRemove', {id: wish.id}) }}" method="POST" class="rm-rf">
                                <input type="submit" value="ðŸ—‘ï¸" style="display: inline" class="submit-remove">
                            </form>
                        </div>
                    {% endfor %}
                {% endfor %}

            </ul>
        </div>
    </div>


{% endblock %}
